@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1630165687460') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Swap:before {
  content: "\e626";
}

.icon-a-VolumeOff:before {
  content: "\e627";
}

.icon-a-AddUser:before {
  content: "\e628";
}

.icon-a-Arrow-Down3:before {
  content: "\e629";
}

.icon-a-Arrow-DownCircle:before {
  content: "\e62a";
}

.icon-a-2User:before {
  content: "\e62b";
}

.icon-a-3User:before {
  content: "\e62c";
}

.icon-a-Arrow-Down2:before {
  content: "\e62d";
}

.icon-a-Arrow-Left3:before {
  content: "\e62e";
}

.icon-a-Arrow-LeftSquare:before {
  content: "\e62f";
}

.icon-a-Arrow-LeftCircle:before {
  content: "\e630";
}

.icon-a-Arrow-Left:before {
  content: "\e631";
}

.icon-Activity:before {
  content: "\e632";
}

.icon-a-Arrow-Down:before {
  content: "\e633";
}

.icon-a-Arrow-DownSquare:before {
  content: "\e634";
}

.icon-a-Arrow-Right3:before {
  content: "\e635";
}

.icon-a-Arrow-RightCircle:before {
  content: "\e636";
}

.icon-a-Arrow-Right2:before {
  content: "\e637";
}

.icon-a-Arrow-RightSquare:before {
  content: "\e638";
}

.icon-a-Arrow-Right:before {
  content: "\e639";
}

