body {
	background-color: #f5f5f5;
}
body>*{
	margin: 20px;
}



.xiaoMiSidebar>a {
	display: block;
	height: 50px;
	width: 200px;
	padding-left: 30px;
	background-color: green;
	font-size: 14px;
	line-height: 50px;
	color: white;
}
.xiaoMiSidebar>a:hover {
	background-color: pink;
	color: black;
}



.tableDemo table{
	width: 200px;
	height: 200px;
}
.tableDemo table, .tableDemo th, .tableDemo td {
	border: 1px solid blue;
	border-collapse: collapse;
	text-align: center;
	font-size: 14px;
}



.borderDemo{
	background-color: #fcfcfc;
	border-top: 3px solid #ff8500;
	border-bottom: 1px solid #edeef0;
}
.borderDemo>a {
	height: 40px;
	padding: 0 20px;
	text-decoration: none;
	display: inline-block;
	line-height: 40px;
} 
.borderDemo>a:hover {
	background-color: #eeeeee;
	color: #ff8500;
	cursor: pointer;
}



.boxDemo1{
	width: 250px;
	height: 350px;
	background-color: #fff;
}
.boxDemo1>img{
	width: 100%;
}
.boxDemo1 .review {
	padding: 0 20px;
	margin-top: 30px;
	height: 40px;
	font-size: 12px;
}
.boxDemo1 .pingJia {
	font-size: 6px;
	color: #b0b0b0;
	margin-top: 30px;
	padding: 0 20px;
}
.boxDemo1 .info {
	font-size: 10px;
	padding: 0 20px;
	margin-top: 15px;
}
.boxDemo1 .info h4 {
	display: inline;
	font-weight: 400;
}
.boxDemo1 .info span {
	color: #ff6700;
}
.boxDemo1 .info em{
	font-style: normal;
	color: #ebe4e0;
	margin: 0 3px 0 5px;
}



/* --------学成在线start-------- */
.xueChengZaiXian {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	overflow: auto; /* 解决外边距合并 */
}
.xueChengZaiXian .header {
	height: 42px;
	margin: 30px auto;
}
.xueChengZaiXian .logo {
	width: 198px;
	height: 42px;
	float: left;
}
.xueChengZaiXian .nav {
	float: left;
	margin-left: 80px;
}
.xueChengZaiXian .nav li {
	float: left;
	margin: 0 15px;
}
.xueChengZaiXian .nav a {
	display: block;
	height: 42px;
	padding: 0 10px;
	line-height: 42px;
	font-size: 18px;
	color: #050505;
}
.xueChengZaiXian .nav a:hover {
	border-bottom: 2px solid #00a4ff;
}
.xueChengZaiXian .serach {
	float: left;
	display: inline-block;
	background-color: skyblue;
	margin-left: 50px;
}
.xueChengZaiXian .serach input {
	float: left;
	width: 345px;
	height: 40px;
	border: 1px solid #00a4ff;
	border-right: none;
	font-size: 14px;
	line-height: 40px;
	padding-left: 15px;
}
.xueChengZaiXian .serach button {
	float: left;
	width: 50px;
	height: 42px;
}
.xueChengZaiXian .user {
	float: right;
	line-height: 42px;
	margin-right: 30px;
	font-size: 14px;
	color: #666;
}
.xueChengZaiXian .user img {
	vertical-align: middle;
}
.xueChengZaiXian .banner{
	height: 405px;
	background-color: #1c036c;
	background: url(../img/banner2.png) no-repeat top center;
}
.xueChengZaiXian .subnav {  /* 侧导航栏 */
	float: left;
	width: 192px;
	background-color: rgba(0,0,0,0.3);
}
.xueChengZaiXian .subnav li {
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
}
.xueChengZaiXian .subnav a {
	font-size: 14px;
	color: #fff;
}
.xueChengZaiXian .subnav a:hover {
	color:#00a4ff ;
}
.xueChengZaiXian .subnav span {
	float: right;
}
.xueChengZaiXian .course {
	float: right;
	width: 230px;
	height: 300px;
	background-color: #FFFFFF;
	margin: 50px 50px 0 0;
}
.xueChengZaiXian .course h2 {
	height: 48px;
	background-color: #9bceea;
	text-align: center;
	line-height: 48px;
	color: #fff;
}
.xueChengZaiXian .bd {
	padding: 0 20px;
}
.xueChengZaiXian .bd li {
	border-bottom: 1px solid #ccc;
	padding: 14px 0 ;
}
.xueChengZaiXian .bd h4 {
	font-size: 16px;
	color: #4e4e4e;
}
.xueChengZaiXian .bd p {
	font-size: 12px;
	color: #a5a5a5;
}
.xueChengZaiXian .more {
	display: block;
	width: 190px;
	height: 38px;
	border: 1px solid #00a4ff;
	margin: 5px auto;
	line-height: 38px;
	text-align: center;
	font-size: 16px;
	color: #00a4ff;
	font-weight: 700;
}
.xueChengZaiXian .goods {
	margin-top: 10px;
	height: 60px;
	background-color: #fff;
	box-shadow: 0 2px 3px 3px rgba(0,0,0,0.1);
	line-height: 60px;
}
.xueChengZaiXian .goods h3 {
	float: left;
	margin-left: 30px;
	font-size: 16px;
	color: #00a4ff;
}
.xueChengZaiXian .goods ul {
	float: left;
	margin-left: 30px;
}
.xueChengZaiXian .goods li {
	float: left;
}
.xueChengZaiXian .goods li a {
	padding: 0 30px;
	font-size: 16px;
	color: #050505;
	border-left: 1px solid #ccc;
}
.xueChengZaiXian .goods .mod{
	float: right;
	margin-right: 30px;
	font-size: 14px;
	color: #00a4ff;
}
.xueChengZaiXian .box {
	margin: 30px auto 0;
	width: 1170px;
}
.xueChengZaiXian .boxHd {
	height: 45px;
}
.xueChengZaiXian .boxHd h3 {
	float: left;
	font-size: 20px;
	color: #494949;
}
.xueChengZaiXian .boxHd a {
	float: right;
	font-size: 12px;
	color: #a5a5a5;
	margin: 10px 15px 0 0;
}
.xueChengZaiXian .boxBd li {
	float: left;
	width: 220px;
	height: 270px;
	margin: 0 15px 10px 0;
	background-color: #ffffff;
	position: relative;
}
.xueChengZaiXian .boxBd .smallImg{
	position: absolute;
	right: -3px;
	top: 2px;
}
.xueChengZaiXian .boxBd li>img {
	width: 100%;
}
.xueChengZaiXian .boxBd li h4 {
	margin: 20px 20px 20px 25px;
	font-size: 14px;
	color: #050505;
	font-weight: 400;
}
.xueChengZaiXian .boxBd .info {
	margin: 0 20px 0 25px;
	font-size: 12px;
	color: #999;
}
.xueChengZaiXian .boxBd .info span {
	color: #ff7c2d;
}
.xueChengZaiXian .box .boxBd .last {
	margin-right: 0;
}
.xueChengZaiXian .footer {
	height: 415px;
	padding-top: 35px;
}
.xueChengZaiXian .copyright {
	float: left;
}
.xueChengZaiXian .copyright p {
	font-size: 12px;
	color: #666;
	margin: 20px 0 15px 0;
}
.xueChengZaiXian .copyright .app {
	display: block;
	width: 118px;
	height: 33px;
	border: 1px solid #00a4ff;
	line-height: 33px;
	text-align: center;
	font-size: 16px;
}
.xueChengZaiXian .links {
	float:right;
}
.xueChengZaiXian .links dl {
	float: left;
	margin-left: 100px;
}
.xueChengZaiXian .links dl dt {
	font-size: 16px;
	color: #000;
	margin-bottom: 5px;
}
.xueChengZaiXian .links dl dd {
	font-size: 12px;
	color: #333;
}
/* --------学成在线end-------- */



/* --------滑动轮播图start-------- */
.lunBoTu {
	position: relative;
	width: 520px;
	height: 280px;
	margin: 10px auto;
}
.lunBoTu img {
	width: 100%;
}
.prev,
.next {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	width: 20px;
	height: 30px;
	background-color: rgba(0,0,0,0.3);
	line-height: 30px;
	font-size: 25px;
	color: #fff;
}
.prev {
	left: 0;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.next {
	right:0;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.lunBoTuNav {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -35px;
	width: 70px;
	height: 13px;
	background-color: rgba(255,255,255,0.3);
	border-radius: 6px;
}
.lunBoTuNav li {
	float: left;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
	margin: 3px;
}
.lunBoTuNav li:hover {
	background-color: orange;
}
.hiddenBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 520px;
	height: 260px;
	background-color: rgba(0,0,0,0.3);
	display: none;
}
.lunBoTu:hover .hiddenBox {  /* 因为hidden_box已经被隐藏,所以不能hover,需要todo_demo:hover来显示 */
	display: block;
}
/* --------滑动轮播图end-------- */


.z-indexDemo li {
	float: left;
	width: 70px;
	height: 100px;
	border: 1px solid black;
	margin-left: -1px;  /* 让边框可以重叠 */
}
.z-indexDemo li:hover {
	position: relative; /* 添加定位让z-index生效 */
	border:1px solid skyblue;
	z-index: 1; 
}


.page a {
	display: inline-block;
	width: 36px;
	height: 36px;
	background-color: pink;
	text-align: center;
	line-height: 36px;
	font-size: 14px;
}
.page .prev_1,
.page .next_1 {
	width: 85px;
}
.page .current,
.page .elp {
	background-color: #fff;
	border: none;
}
.page input {
	height: 36px;
	width: 45px;
	border: 1px solid #ccc;
	outline: none;
}
.page button {
	width: 60px;
	height: 36px;
	background-color: #f7f7f7;
	border: 1px solid #ccc;
}



.sanJiaoXing .demo1 {
	width: 0;
	height: 0;
	/* 以下都是离中心点的距离 */
	border-top: 50px solid pink;
	border-right: 50px solid red;
	border-bottom: 50px solid lightgreen;
	border-left: 50px solid slateblue;
}
.sanJiaoXing .demo2 {
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-right: 50px solid red;
}

/* 伪元素仿土豆效果 */
.todoList {
	position: relative;
	width: 520px;
	height: 280px;
	filter: blur(20px); /* 图像模糊 */
}
.todoList:hover{
	filter: blur(0); 
}
.todoList::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 520px;
	height: 280px;
	background-color: rgba(0,0,0,0.3);
	display: block;
}
.todoList:hover::before { /* 中间不要有空格 */
	display: none;
}


.jinDuTiao {
	width: 150px;
	height: 15px;
	border: 1px solid red;
	border-radius: 7px;
	padding: 1px;
}
.jinDuTiao .son {
	width: 50%;
	height: 100%;
	background-color: red;
	transition: width 2s ease 0.3s; /* 过渡属性 */
}
.jinDuTiao:hover .son {
	width: 100%;
}


.rotate1 {
	position: relative;
	width: 249px;
	height: 35px;
	border: 1px solid #000;
}
.rotate1::after {
	content: '';
	position: absolute;
	top: 10px;
	right: 15px;
	width: 10px;
	height: 10px;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	transform: rotate(45deg);
	transform-origin: 75% 75%;
	transition: all 0.6s; 
}
.rotate1:hover::after {
	transform: rotate(225deg);
}
.rotate2 {
	overflow: hidden;
	width: 100px;
	height: 100px;
	background-color: skyblue;
	border: 1px solid pink;
}
.rotate2::before {
	content: '黑马';
	display: block;
	width: 100%;
	height: 100%;
	background-color: hotpink;
	transform: rotate(180deg);
	transform-origin: left bottom;  /* 设置中心点 */
	transition: all 0.3s;
}
.rotate2:hover::before {
		transform: rotate(0deg);
}

.scale li {
	float: left;
	width: 30px;
	height: 30px;
	border: 2px solid green;
	margin-left: 20px;
	text-align: center;
	line-height: 30px;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.3;
}
.scale li:hover {
	transform: scale(1.2);
}

.city {
	position: relative;
	width: 100px;
	height: 100px;
	margin: 50px;
}
@keyframes pulse {
	0% {}
	70% {
		width: 40px;
		height: 40px;
		opacity: 1; /* 透明度 */
	}
	100% {
		width: 70px;
		height: 70px;
		opacity: 0;
	}
}
.dotted {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4px 0 0 -4px;
	width: 8px;
	height: 8px;
	background-color: #09f;
	border-radius: 50%;
}
.city div[class^="pulse"]{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	box-shadow: 0 0 12px #009dfd;
	border-radius: 50%;
	animation: pulse 1.2s linear infinite;
}
.city div.pulse2 { /* div.pulse2 表示 <div class="pulse2">*/
	animation-delay: 0.4s;
}
.city div.pulse3 {
	animation-delay: 0.8s;
}

@keyframes animation1 {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -1600px 0;
	}
}
@keyframes animation2 {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: 50%;
		transform: translate(-50%);
	}
}
.bear {
	overflow: hidden;
	width: 200px;
	height: 100px;
	background: url(../img/demo_4.png) no-repeat;
	background-color: pink;
	animation: animation1 0.5s steps(8) forwards infinite,
			animation2 2s forwards;
}

.rotate3D {
	perspective: 500px;

}
.rotate3D img {
	display: block;
	float: left;
	margin: 50px 50px;
	transition: transform 0.5s;
}
.rotate3D .son1:hover {
	transform: rotateX(360deg);
}
.rotate3D .son2:hover {
	transform: rotateY(360deg);
}
.rotate3D .son3:hover {
	transform: rotateZ(360deg);
} 
.rotate3D .son4:hover {
	transform: rotate3d(1,1,0,45deg);/* 简写 1绕轴，0不饶 */
} 



.demo3D {
	position: relative;
	width: 100px;
	height: 100px;
	transition: all 0.5s;
	transform-style: preserve-3d; /* 让背面的紫色盒子保留立体空间 */
}
.demo3D:hover {
	transform: rotateY(180deg);
}
.demo3D .pink,
.demo3D .purple {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	font-size: 15px;
	color: #fff;
	text-align: center;
	line-height: 100px;
}
.demo3D .pink {
	background-color: pink;
	z-index: 1;
}
.demo3D .purple {
	background-color: purple;
	transform: rotateY(180deg);
}


.demo3D1>div  {
	float: left;
	width: 120px;
	height: 35px;
	margin-left: 20px;
	position: relative;
	transition: all 0.5s;
	transform-style: preserve-3d;
}
.demo3D1>div:hover {
	transform: rotateX(90deg);
}
.demo3D1 .son1,
.demo3D1 .son2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.demo3D1 .son1 {
	background-color: pink;
	z-index: 1;
	transform: translateZ(17.5px);
}
.demo3D1 .son2 {
	position: absolute;
	background-color: mediumpurple;
	/* 一定是负的不然就反了   移动要写前面*/
	transform: translateY(17.5px) rotateX(-90deg);
}

.playImg {
	perspective: 1800px;
	margin: 200px;
}
.playImg .section {
	position: relative;
	width: 300px;
	height: 200px;
	transform-style: preserve-3d;
	animation: rotate 5s linear infinite;
}
@keyframes rotate {
	0% {
		transform: rotateY(0);
	}
	100%{
		transform: rotateY(360deg);
	}
}
.playImg .section div {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/2.jpg) no-repeat;
}
.playImg .section div:nth-child(1) {
	transform: translateZ(300px);
}
.playImg .section div:nth-child(2) {
	transform: rotateY(60deg) translateZ(300px);
}
.playImg .section div:nth-child(3) {
	transform: rotateY(120deg) translateZ(300px);
}
.playImg .section div:nth-child(4) {
	transform: rotateY(180deg) translateZ(300px);
}
.playImg .section div:nth-child(5) {
	transform: rotateY(240deg) translateZ(300px);
}
.playImg .section div:nth-child(6) {
	transform: rotateY(300deg) translateZ(300px);
}