a {
	/* 取消点击链接时的高亮效果(出现淡蓝色背景) */
	-webkit-tap-highlight-color: transparent; 
}
input {
	/* 去掉浏览器默认的外观样式效果 */
	-webkit-appearance: none; 
}
img,a {
	/* 禁止 长按页面时 弹出菜单 */
	-webkit-touch-callout: none;
}
body>*{
	margin-bottom: 10px;
}

.container {
	width: 750px;
	margin: 0 auto;
}
.container ul li {
	float: left;
	width: 93.75px;
	height: 30px;
	background-color: green;
}
/* 小于768px */
@media screen and (max-width: 767px) {
	.container {
		width: 100%;
	}
	.container ul li {
		width: 33.33%;
	}
}





/* 流式布局（百分比布局） */
.div_1 {
	width: 106px;
	height: 60px;
	border: 2px solid red;
	background: url(../img/小蒜头王八.jpg) no-repeat;
	/* 背景大小:宽 高 , 只写一个参数,就是宽,高将等比缩放  px/父盒子百分比
	cover:将父盒子全部盖住，溢出的部分不管
	contain:将图像扩展至最大尺寸，宽度/高度 其中一个达到了父盒子的宽度/高度*/
	background-size: 106px 60px;   
}
.section_1 {
	overflow: hidden;
	width: 100%;
	max-width: 980px;
	min-width: 320px;
	margin: 0 auto;
}
.section_1 .div_2,
.section_1 .div_3
{
	float: left;
	width: 50%;
	height: 200px;
}
.section_1 .div_2{
	background-color: pink;
}
.section_1 .div_3{
	background-color: mediumpurple;
}




/* flex弹性布局 */
.div_4 {
	display: flex;
	width: 800px;
	height: 300px;
	margin: 20px auto;
	background-color: skyblue;
	flex-direction: row;
	justify-content: center;
	/* justify-content:设置主轴上的子元素的排列方式 
						flex-start: 默认值，从头开始
						flex-end: 从尾部开始
						center: 在主轴居中对齐，如果主轴是X轴则水平居中
						space-around:平分剩余空间
						space-between:先两边贴别，再平分剩余空间（重要）*/
	
	/* flex-wrap: wrap; */ 
	align-items: center;
	/* flew-flow:column wrap; */ /* 设置主轴方向和是否换行(简写) */
}
.div_4 span {
	width: 150px;
	height: 100px;
	margin: 0 20px;
	background-color: darkseagreen;
}

.section_2 {
	display: flex;
	width: 60%;
	height: 150px;
	background-color: pink;
	margin: 20px auto;
}
.section_2 div:nth-child(1) {
	width: 100px;
	height: 150px;
	background-color: red;
}
.section_2 div:nth-child(2) {
	flex: 0.5;
	width: 100px;
	height: 150px;
	background-color: green;
}
.section_2 div:nth-child(3) {
	width: 100px;
	height: 150px;
	background-color: blue;
}
.p_1 {
	display: flex;
	width: 60%;
	height: 150px;
	background-color: pink;
	margin: 100px auto;
}
.p_1 span {
	flex: 1;
}



/* rem配置布局 */
.div_5 {
	font-size: 12px;
}
p {
	width: 10em;
	height: 10em;
	background-color: pink;
}
@media screen and (max-width: 539px){
	body {
		background-color: skyblue;
	}
}
@media screen and (min-width: 540px) {
	body {
		background-color: gray;
	}
}
@media screen and (min-width: 970px){
	body {
		background-color: #e4e4e4;
	}
}



@media screen and (min-width: 320px) {
	html {
		font-size: 15px;
	}
}
@media screen and (min-width: 640px) {
	html {
		font-size: 20px;
	}
}
.top {
	height: 1rem;
	font-size: .5rem;
	background-color: green;
	color: #fff;
	text-align: center;
	line-height: 1rem;
}