body>* {
	margin: 30px;
}
#div1{
	width: 350px;
	height: 350px;
}
#div1 img{
	width: 150px;
	height: 150px;
}

#div3>ul, #div3>div {
	float: left;
}
#div3 li {
	width: 150px;
	height: 30px;
	background-color: skyblue;
	line-height: 30px;
	text-align: center;
}
#div3 li:hover{
	background-color: pink;
	cursor: pointer;
}
#div3 .content div {
	margin: 10px;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background-color: purple;
	display: none;
	font-weight: 700;
	color: wheat;
}
#div3 .content [div]:nth-child(1){
	display: block;
}

#div4 .dropDownUl>li{
	background-color: pink;
	float: left;
}
#div4{
	height: 200px;
	width: 200px;
}
#div4 .dropDownUl a{
	display: block;
	color: black;
	padding: 10px;
}
#div4 .dropDownUl>li>ul{
	display: none;
}
#div4 .dropDownUl ul>li{
	padding: 10px;
}

#div5{
	display: inline-block;
	background-color: pink;
}
#div5 textarea {
	border: 1px solid black;	

}
#div5 button {
	display: inline-block;
	padding: 1px;
}
#div5 li {
	padding: 5px;
	border-bottom: 1px solid #e4e4e4;
}
#div5 li button {
	float: right;
}


/* #div8 .div_1{
	width: 200px;
	height: 200px;
	background-color: pink;
	margin: 50px;
} */
#div8 .div1 {
	width: 250px;
	height: 250px;
	background-color: skyblue;
	margin: 20px;
	text-align: center;
}
#div8 .div2 {
	overflow: hidden;
}
#div8 .div2 div {
	float: left;
	width: 100px;
	height: 100px;
	background-color: black;
	font-size: 40px;
	line-height: 100px;
	margin: 20px;
	color: #FFF;
	text-align: center;
}

#div10 {
	width: 300px;
	height: 300px;
	background-color: darkseagreen;
	margin: 30px;
}

#div11 {
	position: relative;
	width: 400px;
	height: 400px;
	margin: 50px;
	font-size: 25px;
}
#div11 div{
	position: absolute;
	width: 300px;
	height: 150px;
	background-color: #eee;
	margin: 20px;
	display: none;
}


#div12 {
	overflow: hidden;
	margin: 50px;
	position: relative;
}
#div12 .mask {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background-color: yellow;
	opacity: 0.4;
	cursor: move;
	z-index: 1;
}
#div12 .big {
	display: none;
	overflow: hidden;
	position: absolute;
	top: 0;
	left:400px;
	width: 400px;
	height: 400px;
	background-color: pink;
}
#div12 .big img {
	width: 800px;
	position: absolute;
	top: 0;
	left: 0;
}

#div13{
	overflow: hidden;
	margin: 50px;
}
#div13 ul li {
	float: left;
	width: 120px;
	height: 30px;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
}

#div14 {
	position: relative;
	width: 300px;
	height: 300px;
}
#div14 .div1{
	position: absolute;
	margin-top: 20px;
	width: 100px;
	height: 100px;
	background-color: pink;
}
#div14 .div2{
	position: absolute;
	top: 150px;
	margin-top: 20px;
	width: 100px;
	height: 100px;
	background-color: pink;
}


#div15 {
	position: relative;
	width: 200px;
	height: 40px;
}
#div15 div {
	position: absolute;
	left: -160px;
	width: 200px;
	height: 40px;
	background-color: purple;
}
#div15 span {
	position: absolute;
	width: 40px;
	height: 40px;
	background-color: pink;
	z-index: 1;
}


#div16 {
	position: relative;
	overflow: hidden; 
	width: 200px;
	height: 200px;
	margin: 50px;
	background-color: pink;
}

#div16  ul {
	width: 1500px;
	height: 200px;
	position: absolute;
}
	
#div16 ul li {
	float: left;
	width: 200px;
	height: 200px;
} 
#div16 .a1 {
	position: absolute;
	display: none;
	top: 100px;
	left: 0px;
	width: 20px;
	height: 20px;
	z-index: 1;
	background-color: rgba(255,255,255,0.5);
}
#div16 .a2 {
	position: absolute;
	display: none;
	top: 100px;
	right: 0px;
	width: 20px;
	height: 20px;
	z-index: 1;
	background-color: rgba(255,255,255,0.5);
	line-height: 20px;
}
#div16 ol {
	position: absolute;
	left: 50px;
	top: 170px;
	border-radius: 6px;
	background-color: rgba(200,200,200,0.3);
}
#div16 ol li {
	float: left;
	width: 6px;
	height: 6px;
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 6px;
	margin: 2px 4px 2px;
	z-index: 3;
}
#div16 .current {
	background-color: #fff;
}