server:
  port: 8101

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/demo
    username: root
    password: dev123
    hikari:  #和数据库的连接池  和线程池一样 复用
      maximum-pool-size: 100   # 太小容易被打满
      connection-timeout: 30000
mybatis-plus:
  mapper-locations: classpath:dao/*.xml
  configuration:
    #配置MyBatis的日志，输出到指定控制台
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    #开启MyBatis的驼峰命名自动映射开关 a_colum --->  aColum
    map-underscore-to-camel-case: true