* {
	list-style: none;
	margin: 0px;
	padding: 0;
	text-decoration: none;
}
a {
	text-decoration: none;
	color: #000;
}
table {
	margin: 30px;
}

.div_3 {
	width: 200px;
	height: 200px;
	background-color: pink;
}
.div_5 {
	font-size: 30px;
	color: green;
}
.ul_1 {
	list-style: none;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
}
.ul_1 li {
	float: left;
	padding: 0 15px;
}
.ul_1 li:hover {
	background-color: pink;
}
.div_21 div{
	display: none;
	margin-left: 50px;
}
.ul_3 {
	overflow: hidden;
	margin-left: 50px;
}
.ul_3>li {
	float: left;
	position: relative;
	height: 200px;
}
.ul_3>li a {
	display: block;
	padding: 0px 20px 0px;
	height: 40px;
	line-height: 40px;
}
.ul_3>li:hover {
	background-color: #CCCCCC;
}
.ul_3 ul {
	display: none;
	position: absolute;
	top: 41px;
	left: 0;
	width: 100%;
}
.ul_4 li {
	padding: 15px 20px 15px;
}
.ul_4 li:hover {
	background-color: pink;
}

.ul_6 li {
	overflow: hidden;
	background-color: #CCCCCC;
	margin-top: 10px;
	width: 200px;
	height: 30px;
	margin-left: 20px;
	line-height: 30px;
	
}
.ul_6 li a {
	float: right;
	line-height: 30px;
}
.ul_7 li {
	padding: 20px;
}

.ul_8 {
	margin: 20px;
}
.ul_8 li {
	width: 50px;
	height: 50px;
	background-color: pink;
	margin: 5px;
}

.table_2 th {
	background-color: #CCCCCC;
}
.table_2 td,
.table_2 th{
	padding: 0 20px 0;
}

.div_25 div {
	margin: 10px;
	width: 100px;
	height: 100px;
	background-color: pink;
}
.father {
	width: 200px;
	height: 200px;
	margin: 30px;
	background-color: pink;
}
.son {
	width: 100px;
	height: 100px;

	background-color: purple;
}
.img_4 {
	position: absolute;
	width: 40px;
	height: 40px;
	opacity: 0.5;
}

.div_27 {
	position: relative;
}
.con {
	position: absolute;
	display: none;
	width: 200px;
	border: 1px solid #CCCCCC;
	font-size: 25px;
	margin-left: 25px;
}
.jd {
	margin: 40px 25px 5px;
}